<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/core-header-panel/core-header-panel.html">
<link rel="import" href="../../bower_components/core-toolbar/core-toolbar.html">
<link rel="import" href="../../bower_components/core-item/core-item.html">
<link rel="import" href="../../bower_components/core-icons/core-icons.html">

<polymer-element name="aif-nav" noscript>
    <template>
        <link rel="stylesheet" href="aif-nav.css">
        
        <core-header-panel>
            <core-toolbar id="navheader">
                <span>Menu</span>
            </core-toolbar>
            <core-menu>
                <core-item icon="home" label="Home" on-tap="{{navigate}}"></core-item>
                <core-item icon="account-circle" label="Profile" on-tap="{{navigate}}"></core-item>
            </core-menu>
        </core-header-panel>
    </template>
</polymer-element>