<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/core-drawer-panel/core-drawer-panel.html">
<link rel="import" href="../../bower_components/core-header-panel/core-header-panel.html">
<link rel="import" href="../../bower_components/core-toolbar/core-toolbar.html">
<link rel="import" href="../../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../../bower_components/core-icons/core-icons.html">
<link rel="import" href="../../bower_components/paper-tabs/paper-tabs.html">
<link rel="import" href="../../bower_components/paper-tabs/paper-tab.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../aif-nav/aif-nav.html">
<link rel="import" href="../aif-feed/aif-feed.html">

<polymer-element name="aif-main">
    <template>
        <link rel="stylesheet" href="aif-main.css">
        <style>
            paper-button {
                fill: #004d4e;
                background: #004d4e;
                color: #fff;
                text-transform: none;
                font-size: 12px;
            }
            
            .people {
                position: absolute;
                left: 0;
                right: 0;
                height: 40%;
                overflow-y: scroll;
            }
            
            .people > .container > div {
                margin-bottom: 16px;   
            }
            
            .people > .container > div:last-child {
                margin-bottom: 0;   
            }
            
            .people > .container > div > img {
                background-color: #efefef;
                margin-right: 16px;
                -webkit-clip-path: circle(50% at 50% 50%);
                -webkit-clip-path: circle(50%, 50%, 50%);
            }
            
            #panel {
                background: #004d4e;
                position: absolute;
                left: 0;
                right: 0;
                top: 40%;
                bottom: 0;
            }
            
            #panel > div {
                box-sizing: border-box;
                height: 50%;
                width: 50%;
                padding: 16px;
                color: white;
                font-size: 11px;
                text-align: center;
                text-transform: uppercase;
            }
            
            .light {
                background: #3abec0;
            }
            
            .dark {
                background: #004d4e;
            }
            
            .large-text {
                font-size: 60px;
            }
            
            .panel-label {
                padding-bottom: 8px;   
            }
        </style>
        
        <svg width="0" height="0">
            <defs>
                <clipPath id="clipping">
                    <circle cx="50" cy="50" r="50" />
                </clipPath>
            </defs>
        </svg>
        
        <core-drawer-panel id="drawerPanel">
            <aif-nav drawer></aif-nav>
            
            <core-header-panel main>
                <core-toolbar class="toolbar">
                    <paper-icon-button id="navicon" icon="menu" on-tap="{{toggle}}"></paper-icon-button>
                    <div flex>amifunny?</div>
                    
                    <paper-tabs selected="0" class="bottom fit">
                        <paper-tab>RECENT</paper-tab>
                        <paper-tab>MOST COMMON</paper-tab>
                        <paper-tab>FRIENDS</paper-tab>
                    </paper-tabs>
                </core-toolbar>
                <div class="people">
                <div class="container">
                    <template repeat="{{ user in users }}">
                        <div horizontal layout center>
                            <img src="http://placehold.it/40x40" width="40" height="40" on-tap="{{profile}}">
                            <div flex on-tap="{{profile}}">{{ user }}</div>
                            <paper-button label="Rate" on-tap="{{rate}}"></paper-button>
                        </div>
                    </template>
                </div>
                    </div>
                
                <div id="panel" horizontal layout wrap>
                    <div class="light" vertical layout>
                        <div class="panel-label">My Average</div>
                        <div flex layout horizontal self-center>
                            <div class="large-text" self-center>
                                3.5
                            </div>
                        </div>
                    </div>
                    <div class="dark" vertical layout>
                        <div class="panel-label">Current Streak</div>
                        <div flex layout horizontal self-center>
                            <div class="large-text" self-center>
                                4<small>x</small>2
                            </div>
                        </div>
                    </div>
                    <div class="dark" vertical layout>
                        <div class="panel-label">Funniest Friend</div>
                        <div flex layout horizontal self-center>
                            <svg class="profile-img-lg" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="100" height="100" viewBox="0 0 100 100">
                                <image xlink:href="http://placehold.it/100x100" width="100%" height="100%" clip-path="url(#clipping)"></image>
                            </svg>
                        </div>
                    </div>
                    <div class="light" vertical layout>
                        <div class="panel-label">Lamest Friend</div>
                        <div flex layout horizontal self-center>
                            <svg class="profile-img-lg" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="100" height="100" viewBox="0 0 100 100">
                                <image xlink:href="http://placehold.it/100x100" width="100%" height="100%" clip-path="url(#clipping)"></image>
                            </svg>
                        </div>
                    </div>
                </div>
                
            </core-header-panel>
        </core-drawer-panel>
    </template>
    
    <script src="aif-main.js"></script>
</polymer-element>