<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/core-transition/core-transition-css.html">

<polymer-element name="aif-profile-history">
    <template>
        <div id="profile-history">
            <ul>
                <li class="red"></li>
                <li class="green"></li>
                <li class="yellow"></li>
                <li class="yellow"></li>
                <li class="red"></li>
                <li class="green"></li>
                <li class="green"></li>
                <li class="yellow"></li>
            </ul>
        </div>
    </template>
    
    <script src="aif-profile-history.js"></script>
</polymer-element>