<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/core-animated-pages/core-animated-pages.html">
<link rel="import" href="../../bower_components/core-animated-pages/transitions/slide-from-right.html">
<link rel="import" href="../../components/aif-login/aif-login.html">
<link rel="import" href="../../components/aif-main/aif-main.html">
<link rel="import" href="../../components/aif-rate/aif-rate.html">

<polymer-element name="aif-app">
    <template>
        <link rel="stylesheet" href="aif-app.css">
        
        <core-animated-pages selected="login" id="pages" transitions="slide-from-right">
            <section name="login">
                <aif-login fit horizontal center-justified layout center></aif-login>
            </section>
            <section name="main">
                <div>
                    <aif-main></aif-main>
                </div>
            </section>
            <section name="rate">
                <div>
                    <aif-rate id="rate" attributes="starting rating"></aif-rate>
                </div>
            </section>
        </core-animated-pages>
    </template>
    
    <script src="aif-app.js"></script>
</polymer-element>